<!-- <?xml version="1.0" encoding="UTF-8"?> -->
 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CIVICA TEST SUITE" parallel="false" thread-count="1"
	preserve-order="true">
	<listeners>
		<listener class-name="util.Listener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<!--listener class-name="util.ScreenshotUtility"/ -->
	</listeners>



	<test name="Financial Live (Web) - Regression Test Suite"
		preserve-order="true">
		<groups>
			<run>
				<include name="smoke" />
				<include name="failedtestsuit19.5" />
			</run>
		</groups>

		<packages>
			<package name="financialWeb.testScripts.*" />
		</packages>
	</test>
</suite>
